


.header{
background-color: #502373;
margin-bottom:4rem;
padding:1.6rem 0;
color:white;
}

.header__title{
    font-size:3.2rem;
    margin: 0;
}
.header__subtitle{
    color:#D1B2EE;
    font-size:2rem;
    font-weight:500;
    margin:0;
}