html{
    font-size: 62.5%;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    background-color: #878a92;
    font-size: $m-size;
}
button{
    cursor: pointer;

}
button:disabled{
    cursor: default;
}